@typeparam TItem

<EditForm TItem="ReqResPost" Model="@Elemento" OnValidSubmit="@( () => OnSalva.InvokeAsync(Elemento))">
    <DataAnnotationsValidator/>
    <ValidationSummary></ValidationSummary>
    @CampiDelForm(Elemento)
    <button type="submit" class="btn btn-primary">Salva</button>
    <button type="button" class="btn btn-danger" @onclick="() => OnAnnulla.InvokeAsync()">Annulla</button>
</EditForm>


@code {
    [Parameter]
    public RenderFragment<TItem> CampiDelForm { get; set; }

    [Parameter]
    public TItem Elemento { get; set; }

    [Parameter]
    public EventCallback OnSalva { get; set; }

    [Parameter]
    public EventCallback OnAnnulla { get; set; }
}
