@page "/"
@inject IDatiEventi servizio

<h1>Workshop Blazor</h1>

<TabellaEventi Eventi="EventiPassati" Titolo="Eventi Passati"></TabellaEventi>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        EventiPassati = servizio.EstraiEventiPassati();
    }

    private List<Evento> EventiPassati = new List<Evento> ();
} 