@page "/prossimieventi"
@inject IDatiEventi servizio

<TabellaEventi Eventi="EventiFuturi" Titolo="Eventi Futuri" 
               OnCancella="CancellaEvento">
    <ContenutoFiglio>
        <p>@Data.ToShortDateString()</p>
    </ContenutoFiglio>
</TabellaEventi>

@code {

    private List<Evento> EventiFuturi = new List<Evento>();

    protected override void OnInitialized()
    {
        EventiFuturi = servizio.EstraiEventiFuturi();
    }

    public void CancellaEvento(Evento evento)
    {
        EventiFuturi.Remove(evento);
    }

    public DateTime Data { get; set; } = DateTime.Now;

}
