@page "/reqres"
@inject IReqResData servizio


@if (PostData == null)
{
    <button @onclick="CreaUtente" class="btn btn-danger">Crea  Utente</button>
    @Message

    <ListaUtenti OnModifica="Modifica"></ListaUtenti>
}
else
{
    <DettaglioReqResPost Elemento="PostData" OnSalva="Salva" OnAnnulla="Annulla">

        <CampiDelForm>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <InputText id="nome" class="form-control" @bind-Value="PostData.name"></InputText>
                <ValidationMessage For="@( () => PostData.name )"></ValidationMessage>
            </div>

            <div class="form-group">
                <label for="job">Job:</label>
                <InputText id="job" class="form-control" @bind-Value="PostData.job"></InputText>
                <ValidationMessage For="@( () => PostData.job )"></ValidationMessage>

            </div>
        </CampiDelForm>


    </DettaglioReqResPost>
}

@code {

    private ReqResPost PostData;
    public string Message = "";

    private void CreaUtente()
    {
        PostData = new ReqResPost();
    }

    private void Modifica(Person persona)
    {
        PostData = new ReqResPost { name = persona.first_name + " " + persona.last_name };
    }


    private void Annulla()
    {
        PostData = null;
        Message = "";
    }

    private async Task Salva()
    {
        var status = await servizio.CreaUtente(PostData);
        Message = status.ToString();
        PostData = null;
    }
}
